<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Sensorpi</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="normalize.css"
        /> -->
        <link href="tailwind.min.css" rel="stylesheet" />
    </head>

    <body>
        <div id="app" class="p-8">
            <h2 class="pb-4">{{ latest_msg }}</h2>

            <h3>Ultimos 15 minutos</h3>
            <img src="/data/now-15m/graph.png" />

            <h3>Ultima hora</h3>
            <img src="/data/now-1h/graph.png" />

            <h3>Ultimos 24 horas</h3>
            <img src="/data/now-85000s/graph.png" />

            <h3>Ultima semana</h3>
            <img src="/data/now-1w/graph.png" />

            <h3>Ultimo mes</h3>
            <img src="/data/now-1M/graph.png" />

            <h3>Ultimo año</h3>
            <img src="/data/now-32000000s/graph.png" />

            <h3>Ultimo 10 años</h3>
            <img src="/data/now-320000000s/graph.png" />
        </div>
        <!-- <div class="graph" id="recent-graph"></div> -->
        <!-- <script type="text/javascript" src="dygraph.js"></script> -->
        <script src="vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>
